
.navbar{
    background: #24353f;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);

}
body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

.form {
    width: 65%;
    background: #24353f;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    border: none;
}

h1 {
    color: #17a2b8;
    font-size: 2.5rem;
}

input {
    color: #fff;
    background-color: transparent !important;
    width: 95% !important;
}

.btn {
    width: 95%;
}

.btn:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
header{
    height: 100vh;
}